################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MaxEngine
/bin/Debug-windows-x86_64
/intermediate
